<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Recommendations</title>
</head>
<body>

    
<div class="container mt-5">
    <h2>Top 5 Recommendations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Place</th>
                <th>City</th>
                <th>Type</th>
                <th>Rating</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
            <tr>
                <td>{{ place.place }}</td>
                <td>{{ place.city }}</td>
                <td>{{ place.type }}</td>
                <td>{{ place.rating }}</td>
                <td>{{ place.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
